@model IEnumerable<LicentaApp.Produse>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PagedLayout.cshtml";
}


<div class="row">
    <div class="col s12 m4">
        <div class="card setting-card">
            <div class="card-image">
                <img src="../../Bundles/Content/Images/lens.png">
                <span class="card-title">Lentile</span>
                <a href="@Url.Action("ListaLentile","Produse")" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card setting-card">
            <div class="card-image">
                <img src="../../Bundles/Content/Images/reading-glasses.png">
                <span class="card-title">Rame</span>
                <a href="@Url.Action("ListaRame","Produse")" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card setting-card">
            <div class="card-image">
                <img src="../../Bundles/Content/Images/sunglasses.png">
                <span class="card-title">Ochelari de Soare</span>
                <a href="@Url.Action("ListaOchelariDeSoare","Produse")" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
</div>