@using LicentaApp.Domain
@using LicentaApp.Domain.Metadata
@using LicentaApp.Domain.ValueObjects
@model IEnumerable<LentileView>
@{
    ViewBag.Title = "ListaLentile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col s11">
        <h4>Lentile</h4>
    </div>
    <div class="col s1">
        @Html.Partial("_FloatingButton", new Tuple<string, string>(Url.Action("Create", "Produse"), "Adauga"))
    </div>
</div>

@using (Ajax.BeginForm("FilterListaLentile", "Produse", new AjaxOptions { UpdateTargetId = "lista-lentile-data", InsertionMode = InsertionMode.ReplaceWith }))
{
    @Html.Partial("Produse/ListaLentileData", this.Model)
}



@section Scripts{
    <script type="text/javascript" src="../../Bundles/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            changePage();
            $('select').formSelect();
            filtreaza();
        });

        $(document).ajaxComplete(function () {
            changePage();
            $('select').formSelect();
            filtreaza();
        });


        function changePage() {
            $('.move-to-page').click(function () {
                $('#filter_Page').val($(this).attr('target_page'));
                $('form').submit();
            });
        }

        function filtreaza() {
            $('#filtreaza').click(function() {
                $('form').submit();
            });
        }



    </script>
}

