/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 80px;
    padding-right: 15px;
}*/

@media only screen and (max-width : 992px) {
    .body-content {
        padding-left: 0;
    }
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.required:after {
    content:"*";
    color: red;
}

.text-danger {
    color: red;
}

.sidenav {
    max-width: 80px;
}

.nav-icon-container {
    padding: 0;
    margin: 0;
    text-align:center;
}

.nav-icon-container i {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

/*TABS*/
/*.tabs{
    height: auto;
    white-space: normal;
}
.tab{
    display: block;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
}
.tab-content{
    height: 200px;
    width: 100%;
}
.indicator{
    display: none;
}*/
/*TABS*/

#tabs-main-container {
    padding: 50px 0 50px 0;
}

.relative-floating-btn {
    position: relative;
    text-align: right;
    margin-top: 20px;
}

.custom-display-table thead th{
    padding-left: 40px;
    font-size: 18px;
}

.custom-display-table tbody td{
    padding: 10px;
}

.custom-padding-table tbody td{
    padding: 10px;
}