@model LicentaApp.Magazine
<table class="striped custom-display-table">
    <thead>
    <tr>
        <th colspan="2">Detalii Client</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><b>Denumire:</b></td>
        <td>@this.Model.Denumire</td>
    </tr>

    <tr>
        <td><b>Adresa:</b></td>
        <td>@this.Model.Adresa</td>
    </tr>

    <tr>
        <td><b>Oras:</b></td>
        <td>@this.Model.Oras</td>
    </tr>
    <tr>
        <td><b>Email:</b></td>
        <td>@this.Model.Email</td>
    </tr>
    </tbody>
</table>
