@model LicentaApp.Clienti

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Clienti"))
{
    @Html.AntiForgeryToken()
    <h5>Editeaza Client</h5>
        <hr />
        @Html.EditorForModel()
        <div class="row">
            <button type="submit" class="btn waves-effect">Actualizeaza</button>
        </div>
}

