@model System.Data.Entity.Core.Objects.ObjectResult<GetStatisticaMagazineDupaVanzari_Result>

@{
    ViewBag.Title = "StatisticaMagazinDupaVanzari_Grafic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h4 class="report-title">Statistica Vanzari Magazine</h4>
</div>

@Html.Partial("Rapoarte/_ReportButtons")

<div class="row">
    <div id="statistica-grafic" style="width: 900px; height: 600px"></div>
</div>



@section Scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        var model = @Html.Raw(Json.Encode(this.Model));

        function createDataTable(items) {
            var result = [];
            result.push(['Magazin', 'Total Vanzari']);
            for (var i = 0; i < items.length; ++i) {
                var nume = items[i]["Denumire"];
                result.push([nume, items[i]["TotalVanzari"]]);
            }

            return result;
        }

        var dataTable = createDataTable(model);
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);


        //function drawChart() {
        //    var data = google.visualization.arrayToDataTable(dataTable);

        //    var options = {
        //        chart: {
        //            title: 'Statistica Magazine in functie de Vanzari'
        //        },
        //        hAxis: {
        //            format: 'decimal'
        //        },
        //        bars: 'horizontal'
        //    };
        //    var materialChart = new google.charts.Bar(document.getElementById('statistica-grafic'));
        //    materialChart.draw(data, google.charts.Bar.convertOptions(options));
        //}

        function drawChart() {
            var data = google.visualization.arrayToDataTable(dataTable);

            var options = {
                title: 'Vanzari totale magazin',
                is3D: true
            };
            var chart = new google.visualization.PieChart(document.getElementById('statistica-grafic'));
            chart.draw(data, options);
        }


        $('#getReportData').click(function() {
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();

            $.ajax({
                url: '@Url.Action("StatisticaMagazinDupaVanzari_GraficData")',
                type: 'GET',
                data: { startDate: startDate, endDate: endDate },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function(xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function(result) {
                    dataTable = createDataTable(result);
                    google.charts.setOnLoadCallback(drawChart);
                },
                async: true
            });

        });
    </script>
}