@{
    ViewBag.Title = "StatisticaUtilizatoriDupaVanzari_Grafic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h4 class="report-title">Statistica Utilizatori in functie de totalul vanzarilor</h4>
</div>

@Html.Partial("Rapoarte/_ReportButtons")

<div class="row">
    <div id="statistica-grafic" style="width: 900px; height: 600px"></div>
</div>



@section Scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        var dataTable = {};
        google.charts.load('current', { packages: ['corechart'] });


        function createDataTable(items) {
            var result = [];
            result.push(['Magazin', 'Total Vanzari']);
            for (var i = 0; i < items.length; ++i) {
                var nume = items[i]["Nume"] + " " + items[i]["Prenume"];
                result.push([nume, items[i]["TotalVanzari"]]);
            }

            return result;
        }

        function drawChart() {
            var data = google.visualization.arrayToDataTable(dataTable);

            var options = {
                title: 'Vanzari totale utilizatori',
                is3D: true
            };
            var chart = new google.visualization.PieChart(document.getElementById('statistica-grafic'));
            chart.draw(data, options);
        }


        $('#getReportData').click(function() {
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();

            $.ajax({
                url: '@Url.Action("StatisticaUtilizatoriDupaVanzari_GraficData")',
                type: 'GET',
                data: { startDate: startDate, endDate: endDate },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function(xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function(result) {
                    dataTable = createDataTable(result);
                    google.charts.setOnLoadCallback(drawChart);
                },
                async: true
            });

        });
    </script>
}