@model System.Data.Entity.Core.Objects.ObjectResult<GetStatisticaMagazineDupaCantitati_Result>

@{
    ViewBag.Title = "StatisticaMagazineDupaCantitati";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("StatisticaMagazineDupaCantitati_Grafic")">Grafic</a>
<table class="highlight">
    <thead>
    <tr>
        <th>Denumire</th>
        <th>Orasa</th>
        <th>Cantitate totala</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in this.Model)
    {
        <tr>
            <td>@item.Denumire</td>
            <td>@item.Oras</td>
            <td>@item.CantitateTotala</td>
        </tr>
    }
    </tbody>
</table>