@model System.Data.Entity.Core.Objects.ObjectResult<GetTopLentile_Result>
    @{
        ViewBag.Title = "TopLentileVandute";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<div class="row">
    <h4 class="report-title">Top vanzari lentile in functie de cantitatile vandute</h4>
</div>


@using (Ajax.BeginForm("TopLentileVandute_Data", "Rapoarte", new AjaxOptions { UpdateTargetId = "report-container", InsertionMode = InsertionMode.Replace }))
{
    @Html.Partial("Rapoarte/_ReportButtons")
}


<div id="report-container">
    @Html.Partial("Rapoarte/TopLentileVandute_Data", this.Model)
</div>

@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Bundles/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
}
