@using LicentaApp.Domain
@model LicentaApp.ViewModels.ComandaViewModel


@if (ViewData.ContainsKey(AppConstants.ProducatorOptions))
{
    <div class="row">
        <div class="col m12 input-field">
            @Html.DropDownListFor(model => model.Lentila.ProducatorId, (SelectList)ViewData[AppConstants.ProducatorOptions], "- Selecteaza -", new { @id = "producator-options" })
            @Html.LabelFor(model => model.Lentila.ProducatorId)
            @Html.ValidationMessageFor(model => model.Lentila.ProducatorId, "", new { @class = "text-danger" })
        </div>
    </div>
}
