@model LicentaApp.ViewModels.ComandaViewModel
    
@*<div class="row">
    <div class="col m2 input-field">
        @Html.DropDownListFor(model => model.Lentila.TipLentila, , "- Fara -")
        @Html.LabelFor(model => model.Lentila.TipLentila)
        @Html.ValidationMessageFor(model => model.Lentila.TipLentila, "", new { @class = "text-danger" })
    </div>
</div>*@
