@model LicentaApp.Magazine

@{
    ViewBag.Title = "Creeaza magazin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Creeaza</h4>
<hr/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.EditorForModel()

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Creaza" class="btn btn-default" />
        </div>
    </div>
}
