@model LicentaApp.Magazine

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Creeaza magazin nou</h4>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.EditorForModel()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Actualizeaza" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $('input:hidden').each(function (index, element) {
                $(element).appendTo($(element).parent());
            });
        });
    </script>
}