@using System.ComponentModel.DataAnnotations
@using LicentaApp.Domain
@{
    var validationResults = ViewData.ContainsKey(AppConstants.Alerts.Error)
        ? (IEnumerable<ValidationResult>)ViewData[AppConstants.Alerts.Error]
        : Enumerable.Empty<ValidationResult>();

    var validationResultTempData = TempData.ContainsKey(AppConstants.Alerts.Error)
        ? (IEnumerable<ValidationResult>)TempData[AppConstants.Alerts.Error]
        : Enumerable.Empty<ValidationResult>();
}
@if (ViewData.ContainsKey(AppConstants.Alerts.Success))
{
    <div id="success" class="alert alert-success">
        <p><strong>Succes!</strong></p>
        <ul>
            @foreach (var result in (string[])ViewData[AppConstants.Alerts.Success])
            {
                <li>@result</li>
            }
        </ul>

    </div>
}
@if (ViewData.ContainsKey(AppConstants.Alerts.Error))
{
    <div id="errors" class="alert alert-danger">
        <p><strong>Eroare!</strong></p>
        <ul>
            @foreach (var vr in validationResults)
            {
                <li>@vr.ErrorMessage</li>
            }
        </ul>
    </div>
}
@if (TempData.ContainsKey(AppConstants.Alerts.Error))
{
    <div id="errors" class="alert alert-danger">
        <p><strong>Eroare!</strong></p>
        <ul>
            @foreach (var vr in validationResultTempData)
            {
                <li>@vr.ErrorMessage</li>
            }
        </ul>
    </div>
}