@model Tuple<string, string> 

<div class="relative-floating-btn">
    <a class="btn-floating btn-small red" href="@this.Model.Item1" data-position="bottom" data-delay="50" data-tooltip="@this.Model.Item2">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
</div>
