<nav>
    <div class="nav-wrapper">
        <div class="left">
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
        </div>
        @*<ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>*@
    </div>
</nav>
<ul id="slide-out" class="sidenav sidenav-fixed">
    <li class="nav-icon-container">
        <a href="#!" class="tooltipped"  data-position="right" data-tooltip="Profil"><i class="fas fa-user-circle fa-2x"></i></a>
    </li>
    <li class="nav-icon-container">
        <a href="@Url.Action("Index","Comenzi")" class="tooltipped" data-position="right" data-tooltip="Comenzi"><i class="fas fa-shopping-cart fa-2x"></i></a>
    </li>
    <li class="nav-icon-container">
        <a href="@Url.Action("Admin","Home")" class="tooltipped" data-position="right" data-tooltip="Admin"><i class="fas fa-cog fa-2x"></i></a>
    </li>
</ul>

