@using LicentaApp.Domain
@using LicentaApp.Domain.Metadata
@model LicentaApp.ViewModels.ProduseViewModel

@if (Model?.ProductMetadata != null)
{
    <div class="row">
        @foreach (var item in this.Model.ProductMetadata)
        {
            <div class="col m4 input-field">
                @if (item.DataType.IsEnum)
                {
                    @Html.DropDownListFor(x => x.ProductProperties[item.PropertyName], item.DataType
                        .ToSelectListWithValue(this.Model.ProductProperties != null && this.Model.ProductProperties.ContainsKey(item.PropertyName) ? this.Model.ProductProperties[item.PropertyName] : null))
                }
                else if (item.DataType == typeof(bool))
                {
                    @Html.CheckBoxStringFor(x => x.ProductProperties[item.PropertyName])
                }
                else
                {
                    @Html.TextBoxFor(x => x.ProductProperties[item.PropertyName])
                }
                @Html.LabelFor(x => x.ProductProperties[item.PropertyName], item.PropertyDisplayName)

            </div>
        }
    </div>

}