@model Clienti  

<div id="multistepsform-content-part1">
    @using (Ajax.BeginForm("Create_Step1", "Comenzi", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "multistepsform-content-part1",
        HttpMethod = "Post"
    }))
    {
        @Html.EditorFor(x => x)
        <button type="submit">Next</button>
    }    
</div>
s
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Bundles/Scripts/jquery.unobtrusive-ajax.js"></script>

}