@model LicentaApp.ComenziAprovizionari

<p>Buna ziua, </p>
<br />
<p>In atentia @Model.Furnizori.Denumire</p>
<p>Am atasat cererea de aprovizionare!</p>
<br />
<p>Cu consideratie,</p>
<p>Licenta Stroe Teodora</p>